<div class="container">

        <div class="feedback">

            <form name="fackback" ng-submit="submitFeedback()">

                <div class="feedback-type">
                    <div class="form-group">
                        <label for="wrong-phone">电话是空号</label>
                        <input ng-model="fbtype" type="radio" id="wrong-phone" name="feedbacktype" value="电话是空号"/>
                    </div>

                    <div class="form-group">
                        <label for="busy-phone">一直无法接通</label>
                        <input ng-model="fbtype" type="radio" id="busy-phone" name="feedbacktype" value="一直无法接通"/>

                    </div>

                    <div class="form-group">
                        <label for="bad-exp" ng-model="abc">接线员服务态度极差</label>
                        <input ng-model="fbtype" type="radio" id="bad-exp" name="feedbacktype" value="接线员服务态度极差"/>
                    </div>
                </div>


                <div class="feedback-content">
                    <textarea ng-model="fbcontent" class="fbcontent" placeholder="我不管，我要吐槽！"></textarea>
                </div>


                <button type="submit" class="btn btn-primary">提交</button>

            </form>

        </div>

    <footer class="footer">
        <label>客运巴巴,客服热线:</label>
        <label class="contactphone">0755-8739319</label>
    </footer>

</div>