<footer id="navbar" class="hairlines-top">
    <a class="search ztc-search <% if( active[0] ){ %>active<% } %>" href="/">购票</a>
    <a class="wait-bus <% if( active[1] ){ %>active<% } %>" href="/info">车讯</a>
    <a class="mine <% if( active[2] ){ %>active<% } %>" href="/contact">合作<i class="red_point"></i></a>
</footer>