<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<table>

    <% for(var i=0; i<cities.length;i++) { %>
    <tr>
        <td>
            <%= cities[i].name  %>
        </td>

    </tr>
    <% } %>

</table>


</body>
</html>
