<div class="container">
    <div class="banner"><img src="/assets/images/banner.png"> </div>
    <div class="search-box">
        <form class="search-form">

            <div class="search-input">

                <div class="form-group" >
                    <!--<img class="img-loc" src="/assets/images/iconStart.png">-->
                    <i class="ico location-start"></i>
                    <label class="start"  for="startCity" >{{ startCity || "出发地"}}</label>



                    <select class="form-control start" ng-model="startCity"  ng-options="city for city in cities "  id="startCity" name="startCity" >
                    </select>
                    <!--<input class="form-input" type="text" placeholder="出发地"/>-->

                </div>
                <hr/>
                <div class="form-group">
                    <!--<img class="img-loc"  src="/assets/images/iconEnd.png">-->
                    <i class="ico location-end"></i>
                    <label class="end" for="endCity">{{ endCity || "目的地"}}</label>
                    <!--<input class="form-input" type="text" placeholder="目的地"/>-->
                    <select class="form-control end" ng-model="endCity"  ng-options="city for city in cities "  id="endCity" name="endCity" >
                    </select>
                </div>

                <!--<img class="swap" src="/assets/images/iconSwap.png"/>-->
                <i class="ico swap rotate"  ng-class="{on:onOff}" ng-click="onOff=!onOff;swapCity()" ></i>

            </div>


            <button class="btn btn-primary search" type="submit" >立即订票</button>

        </form>
    </div>

    <div class="hotline-section">
        <label class="hotline-title">热门搜索</label>
        <hr class="hothr"/>

        <div class="hotlines">
            <div class="hotline">
                <img src="/assets/images/textStart.png">
                <label>广州</label>
                --
                <img src="/assets/images/textEnd.png">
                <label>深圳</label>


                <button class="btn btn-default btn-sm">搜索</button>

            </div>
            <hr/>

            <div class="hotline">
                <img src="/assets/images/textStart.jpg">
                <label>广州</label>
                --
                <img src="/assets/images/textEnd.jpg">
                <label>珠海</label>

                <button class="btn btn-default btn-sm">搜索</button>

            </div>
            <hr/>

            <div class="hotline">
                <img src="/assets/images/textStart.jpg">
                <label>广州</label>
                --
                <img src="/assets/images/textEnd.jpg">
                <label>珠海</label>

                <button class="btn btn-default btn-sm">搜索</button>

            </div>
            <hr/>

        </div>

    </div>
</div>