.banner {
  width: 100%;
  height: 12rem;
  background: url("/assets/images/banner.png") no-repeat center;
  background-size: 100%;
}
.search-box {
  margin: 3rem 1rem 0 1rem;
}
.search-box .search-form .search-input {
  background-color: white;
  border-radius: 0.4rem;
  border: 0.1rem solid #CFCFCF;
  position: relative;
  padding: 0.2rem 0 0.2rem 2.7rem;
}
.search-box .search-form .search-input hr {
  border-top: 0.1rem solid #CFCFCF;
  border-bottom: none;
  margin-right: 5rem;
}
.search-box .search-form .search-input .form-group i.img-loc {
  vertical-align: middle;
  width: 2.4rem;
  height: 2.4rem;
}
.search-box .search-form .search-input .form-group select {
  background: transparent;
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  line-height: 1.8rem;
  height: 1.8rem;
  width: 14rem;
  font-size: 1.8rem;
  vertical-align: middle;
}
.search-box .search-form .search-input .form-group label {
  vertical-align: middle;
  font-size: 1.8rem;
  margin-left: 1.2rem;
  display: inline-block;
  width: 16rem;
}
.search-box .search-form .search-input .form-group .start {
  color: #08a633;
}
.search-box .search-form .search-input .form-group .end {
  color: #f14c27;
}
.search-box .search-form .search-input i.swap {
  position: absolute;
  width: 2.4rem;
  height: 2.1rem;
  right: 2rem;
  top: 3.4rem;
  transition: 300ms ease all;
  transform: rotate(0deg);
}
.search-box .search-form .search-input i.swap.on {
  transition: 300ms ease all;
  transform: rotate(360deg);
}
.search-box .search-form button {
  margin-top: 2rem;
  width: 100%;
}
.hotline-section {
  margin: 2.7rem 1rem 0 1rem;
  font-size: 1.8rem;
  color: #666666;
}
.hotline-section .hotline-title {
  font-size: 2.0rem;
}
.hotline-section hr {
  border-top: 0.1rem solid #CFCFCF;
  border-bottom: none;
}
.hotline-section hr[class="hothr"] {
  margin: 1.1rem -1rem 0 -1rem;
}
.hotline-section .hotlines .hotline {
  height: 6rem;
  line-height: 6rem;
  vertical-align: middle;
  position: relative;
}
.hotline-section .hotlines .hotline label {
  vertical-align: middle;
}
.hotline-section .hotlines .hotline button {
  /* Reset */
  position: absolute;
  right: 0rem;
  top: 1.6rem;
}
