<div class="container">
    <div class="banner"><img src="/assets/images/banner.png"> </div>
    <div class="search-box">
        <form class="search-form" ng-submit="searchBusline()">

            <div class="search-input">

                <div class="form-group" >
                    <!--<img class="img-loc" src="/assets/images/iconStart.png">-->
                    <i class="ico location-start"></i>
                    <!--<label class="start"  for="startCity" >{{ startCity.name || "出发地"}}</label>-->


                    <select class="form-control start" ng-model="startCity"  ng-options="city.name for city in cities track by city.id"  id="startCity" name="startCity" >
                        <option value="" disabled selected>出发地</option>
                    </select>
                    <!--<input class="form-input" type="text" placeholder="出发地"/>-->

                </div>
                <hr/>
                <div class="form-group">
                    <!--<img class="img-loc"  src="/assets/images/iconEnd.png">-->
                    <i class="ico location-end"></i>
                    <!--<label class="end" for="endCity">{{ endCity.name || "目的地"}}</label>-->
                    <!--<input class="form-input" type="text" placeholder="目的地"/>-->
                    <select class="form-control end" ng-model="endCity"  ng-options="city.name for city in cities track by city.id"  id="endCity" name="endCity" >
                        <option value="" disabled selected>目的地</option>
                    </select>
                </div>

                <!--<img class="swap" src="/assets/images/iconSwap.png"/>-->
                <i class="ico swap rotate"  ng-class="{on:onOff}" ng-click="onOff=!onOff;swapCity()" ></i>

            </div>


            <button class="btn btn-primary search" type="submit" >立即订票</button>

        </form>
    </div>

    <div class="hotline-section">
        <label class="hotline-title">热门搜索</label>
        <hr class="hothr"/>

        <div class="hotlines">
            <div class="hotline" ng-repeat="hotline in hotlines">

                <i class="ico text-start"></i>
                <label>{{ hotline.startCity.name }}</label>
                --
                <i class="ico text-end"></i>
                <label>{{ hotline.endCity.name }}</label>


                <button class="btn btn-default btn-sm" ng-click="search(hotline.startCity.id, hotline.endCity.id)">搜索</button>

                <hr/>
            </div>



        </div>

    </div>
</div>