.banner {
    //img {
    //    width:  32rem;
    //}


    width: 100%;
    height: 12rem;

    background: url("/assets/images/banner.png") no-repeat center;
    background-size: 100%;

}



.search-box {
    margin: 3rem 1rem 0 1rem;

    .search-form {
        .search-input {
            background-color: white;
            border-radius: 0.4rem;
            border: 0.1rem solid #CFCFCF;
            //display: table-cell;
            position: relative;

            padding: 0.2rem 0 0.2rem 2.7rem;



            hr {
                border-top: 0.1rem solid #CFCFCF;
                border-bottom: none;
                margin-right: 5rem;
            }

            .form-group{
                i.img-loc {
                    vertical-align: middle;
                    width: 2.4rem;
                    height: 2.4rem;

                }

                select{
                    //width: 20rem;
                    background: transparent;
                    -webkit-appearance: none;
                    border: 0;
                    border-radius: 0;
                    line-height: 1.8rem;
                    height: 1.8rem;
                    width: 14rem;
                    font-size: 1.8rem;

                    vertical-align: middle

                    //margin-left: -100rem; // uncomment this to use select instead of label

                }
                label {
                    vertical-align: middle;
                    font-size: 1.8rem;
                    margin-left: 1.2rem;
                    display:inline-block;
                    width: 16rem;
                }

                .start{
                    color: #08a633;
                }
                .end {
                    color: #f14c27;
                }



            }

            i.swap {
                position: absolute;
                width: 2.4rem;
                height: 2.1rem;
                right: 2rem;
                top: 3.4rem;

                //margin: 1rem;
                transition: 300ms ease all;
                transform: rotate(0deg);


            }

            i.swap.on {
                transition: 300ms ease all;
                transform: rotate(360deg);
            }





        }


        button {
            margin-top: 2rem;

            width: 100%;

        }


    }




}


.hotline-section{

    margin: 2.7rem 1rem 0 1rem;
    font-size: 1.8rem;
    color: #666666;

    .hotline-title{
        font-size: 2.0rem;
    }

    hr{
        border-top: 0.1rem solid #CFCFCF;
        border-bottom: none;
    }

    hr[class="hothr"] {
        margin: 1.1rem -1rem 0 -1rem;

    }

    .hotlines {



        .hotline {
            height: 6rem;
            line-height: 6rem;
            vertical-align: middle;
            //display: table-cell;
            position: relative;
            //width: 32rem;

            label {
                vertical-align: middle;

            }


            button {
                //float: right;


                /* Reset */
                //float: none;
                position: absolute;
                right: 0rem;
                top: 1.6rem;

            }

        }


    }

}