.btn {
  border: 0.1rem solid ;
  border-radius: 0.4rem;
  margin: 0rem;
  padding: 0.2rem 0.6rem;
  height: 4.4rem;
  vertical-align: middle;
  background-color: inherit;
}
.btn-sm {
  height: 2.8rem;
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin: 0;
  padding: 0rem 0.4rem;
}
.btn-primary {
  color: #FFFFFF;
  background-color: #f39624;
}
.btn-blue {
  color: #FFFFFF;
  background-color: #67a1d7;
}
.btn-default {
  color: #f39624;
  background-color: inherit;
  border: 0.1rem solid #f39624;
}
.form-group {
  vertical-align: middle;
  height: 4.4rem;
  display: table-cell;
}
.form-group input[class="form-control"] {
  border: 0;
}
.form-group select[class="form-control"] {
  border: 0;
}
i.ico {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  vertical-align: middle;
}
i.text-start {
  background: url("/assets/images/textStart.png") no-repeat center;
  background-size: 100%;
}
i.text-end {
  background: url("/assets/images/textEnd.png") no-repeat center;
  background-size: 100%;
}
i.star {
  background: url("/assets/images/iconStar.png") no-repeat center;
  background-size: 100%;
}
i.ringbell {
  background: url("/assets/images/iconRingbell.png") no-repeat center;
  background-size: 100%;
}
i.telphone {
  background: url("/assets/images/iconPhone.png") no-repeat center;
  background-size: 100%;
}
i.swap {
  background: url("/assets/images/iconSwap.png") no-repeat center;
  background-size: 100%;
}
i.location-start {
  background: url("/assets/images/iconStart.png") no-repeat center;
  background-size: 100%;
}
i.location-end {
  background: url("/assets/images/iconEnd.png") no-repeat center;
  background-size: 100%;
}
input[type='radio'].checked {
  background: url("/assets/images/iconChecked.png") no-repeat center;
  background-size: 100%;
}
input[type='radio'].unchecked {
  background: url("/assets/images/iconUnchecked.png") no-repeat center;
  background-size: 100%;
}
