<div class="form-group">
    <label for="name" class="col-sm-2 control-label">线路名</label>
    <div class="col-sm-10">
        <input type="text" ng-model="busline.name" class="form-control" id="name" placeholder="线路名"/>
    </div>
</div>
<div class="form-group">
    <label for="price" class="col-sm-2 control-label">票价</label>
    <div class="col-sm-10">
        <input type="text" ng-model="busline.price" class="form-control" id="price" placeholder="票价"/>
    </div>
</div>
<div class="form-group">
    <label for="paymethod" class="col-sm-2 control-label">支付方法</label>
    <div class="col-sm-10">
        <input type="text" ng-model="busline.paymethod" class="form-control" id="paymethod" placeholder="支付方法"/>
    </div>
</div>

<div class="form-group">
    <label for="startCity" class="col-sm-2 control-label">始发城市</label>
    <div class="col-sm-10">

        <select name="startCity" id="startCity" ng-model="busline.startCityId" ng-options="city.id as city.name for city in cities "/>
        <a ui-sref="newCity">新增城市</a>
    </div>
</div>

<div class="form-group">
    <label for="" class="col-sm-2 control-label">始发城市站点</label>
    <div class="col-sm-10">
        <ul>

            <button type="button" ng-init="insert[0]=false" ng-click="insert[0]=!insert[0]">插入站点</button>
            <select ng-show="insert[0]" ng-model="stationToAdd[0]" ng-options="station.name for station in stations | filter: { cityId: busline.startCityId }"/>
            <button ng-show="insert[0]" type="button" ng-click="addStation(0)">Add</button>

            <li ng-repeat="station in busline.stations | filter: { cityId: busline.startCityId } " >
            {{$index+1}}:{{station.name }} <a href="">删除</a>

                <button type="button" ng-init="insert[$index+1]=false" ng-click="insert[$index+1]=!insert[$index+1]">插入站点</button>
                <select ng-show="insert[$index+1]" ng-model="stationToAdd[$index+1]" ng-options="station.name for station in stations | filter: { cityId: busline.startCityId }"/>
                <button ng-show="insert[$index+1]" type="button" ng-click="addStation($index+1)">Add</button>

        </li>
        </ul>
    </div>
</div>




<div class="form-group">
    <label for="endCityId" class="col-sm-2 control-label">终点城市</label>
    <div class="col-sm-10">
        <select name="endCityId"  id="endCityId"   ng-model="busline.endCityId"   ng-options="city.id as city.name for city in cities "/>
    </div>
</div>


<div class="form-group">
    <label for="" class="col-sm-2 control-label">终点城市站点</label>
    <div class="col-sm-10">
        <ul>
            <button type="button" ng-init="insert2[0]=false" ng-click="insert2[0]=!insert2[0]">插入站点</button>
            <select ng-show="insert2[0]" ng-model="stationToAdd2[0]" ng-options="station.name for station in stations | filter: { cityId: busline.endCityId }"/>
            <button ng-show="insert2[0]" type="button" ng-click="addStation(0,1)">Add</button>

            <li ng-repeat="station in busline.stations | filter: { cityId: busline.endCityId } " >
                {{$index+1}}:{{station.name }} <a href="">删除</a>

                <button type="button" ng-init="insert2[$index+1]=false" ng-click="insert2[$index+1]=!insert2[$index+1]">插入站点</button>
                <select ng-show="insert2[$index+1]" ng-model="stationToAdd2[$index+1]" ng-options="station.name for station in stations | filter: { cityId: busline.endCityId }"/>
                <button ng-show="insert2[$index+1]" type="button" ng-click="addStation($index+1,1)">Add</button>
        </ul>
    </div>
</div>



<div class="form-group">
    <label for="" class="col-sm-2 control-label">发车时间</label>
    <div class="col-sm-10">
        <ul>
            <button type="button" ng-init="starttimeinsert[0]=false" ng-click="starttimeinsert[0]=!starttimeinsert[0]">插入时间</button>
            <select ng-show="starttimeinsert[0]" ng-model="starttimeToAdd[0]" ng-options="starttime.time for starttime in starttimes "/>
            <button ng-show="starttimeinsert[0]" type="button" ng-click="addStarttime(0)">Add</button>

            <li ng-repeat="starttime in busline.StartTime  " >
                {{$index+1}}:{{starttime.time }} <a href="">删除</a>

                <button type="button" ng-init="starttimeinsert[$index+1]=false" ng-click="starttimeinsert[$index+1]=!starttimeinsert[$index+1]">插入时间</button>
                <select ng-show="starttimeinsert[$index+1]" ng-model="starttimeToAdd[$index+1]" ng-options="starttime.time for starttime in starttimes "/>
                <button ng-show="starttimeinsert[$index+1]" type="button" ng-click="addStarttime($index+1)">Add</button>
        </ul>
    </div>
</div>


<div class="form-group">
    <label for="" class="col-sm-2 control-label">电话号码</label>
    <div class="col-sm-10">
        <ul>
            <button type="button" ng-init="phoneinsert[0]=false" ng-click="phoneinsert[0]=!phoneinsert[0]">插入电话</button>
            <select ng-show="phoneinsert[0]" ng-model="phoneToAdd[0]" ng-options="phone.phoneNumber for phone in phones "/>
            <button ng-show="phoneinsert[0]" type="button" ng-click="addPhone(0)">Add</button>

            <li ng-repeat="phone in busline.phones  " >
                {{$index+1}}:{{phone.phoneNumber }} <a href="">删除</a>

                <button type="button" ng-init="phoneinsert[$index+1]=false" ng-click="phoneinsert[$index+1]=!phoneinsert[$index+1]">插入电话</button>
                <select ng-show="phoneinsert[$index+1]" ng-model="phoneToAdd[$index+1]"  ng-options="phone.phoneNumber for phone in phones "/>
                <button ng-show="phoneinsert[$index+1]" type="button" ng-click="addPhone($index+1)">Add</button>
        </ul>
    </div>
</div>



<div class="form-group">
    <label for="companyId" class="col-sm-2 control-label">所属公司</label>
    <div class="col-sm-10">
        <select name="companyId"  id="companyId"   ng-model="busline.companyId"   ng-options="company.id as company.name for company in companies"/>
        <a ui-sref="newCompany">新增公司</a>
    </div>
</div>


<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>




