<ul>
    <li>线路名 {{busline.name}}</li>
    <li>票价 {{busline.price }}</li>
    <li>购票方式 {{busline.paymethod }}</li>
    <li>始发城市 {{busline.startCity.name }}</li>
    <li>终到城市 {{busline.endCity.name }}</li>
    <li>所属公司 {{busline.company.name }}</li>
    <li>电话
        <span ng-repeat="phone in busline.phones">
            {{ phone.phoneNumber }} ,
        </span>
    </li>
    <li>站台：
        <span ng-repeat="station in busline.stations">
            {{ station.name }} ,
        </span>

    </li>

    <li>操作         <a class="btn btn-danger"  ui-sref="editBusline({id:busline.id})">Edit</a>
        <a class="btn btn-danger"  ng-click="deleteBusline(busline)">Delete</a></li>
</ul>








