<div class="container" ng-class="{blur: finishBook}">

    <div class="share-promption" ng-class="{doshare:shareIt}">
        <div class="share-text">

        </div>
        <div class="arrow">

        </div>
    </div>

    <div class="line-details">
        <div class="line-headers">
            <div class="line-header">
                    <div class="basicinfo">

                        <span class="busline-title">

                            <i class="ico text-start"></i>
                            <label>{{ busline.startCity.name }}</label>
                            --
                            <i class="ico text-end"></i>
                            <label>{{ busline.endCity.name }}</label>

                        </span>
                        <h3 class="price">票价：￥{{ busline.price }}起</h3>

                    </div>

                    <div class="other-info">
                            首班: {{busline.StartTime[0].time | limitTo: 5: 0}}
                            末班: {{busline.StartTime[busline.StartTime.length-1].time| limitTo: 5: 0}}
                            共{{busline.StartTime.length}}趟班次趟班次

                    </div>

            </div>

        </div>


        <!--<hr class="splitter"/>-->

            <figure class="line-content">
                <div class="line-model">
                    <div class="provider"><i class="ico star"></i> <label>当前线路由{{busline.company.name}}提供</label></div>
                    <div class="line_name">
                    <div class="white_bg"></div>
                    <ul class="start">

                        <li ng-repeat="station in busline.stations | filter :  { cityId: busline.startCityId } track by station.id  ">
                            <i class="ico"></i>
                            <span ng-if="station.name.length <= 5">
                                {{ station.name }}
                            </span>

                            <span ng-if="station.name.length > 5">
                                {{ station.name.substr(0, 5) }}
                            </span>
                            <span class="pl6" ng-if="station.name.length > 5">
                                {{ station.name.substr(5) }}
                            </span>
                        </li>


                    </ul>

                    <div class="solid" ms-class="dotted:(line.site_list.length > 6)"></div>
                    <ul class="end">

                        <li ng-repeat="station in busline.stations | filter :  { cityId: busline.endCityId } track by station.id  ">
                            <i class="ico"></i>
                            <span ng-if="station.name.length <= 5">
                                {{ station.name }}
                            </span>

                            <span ng-if="station.name.length > 5">
                                {{ station.name.substr(0, 5) }}
                            </span>
                            <span class="pl6" ng-if="station.name.length > 5">
                                {{ station.name.substr(5) }}
                            </span>

                        </li>

                    </ul>
                    <div class="white_bg_right"></div>
                </div>

                </div>
            </figure>

            <!--<hr class="splitter"/>-->


        <div class="phones-section">
            <h3>
                <i class="ico telphone"></i><label>订票热线</label>
            </h3>
            <div class="phone" ng-repeat="phone in busline.phones">
                <div class="inner-phone">
                    <label>{{ purify(phone.phoneNumber) }}</label>
                    <!--tel:{{ purify(phone.phoneNumber) }}-->
                    <a href="#" ng-click="dial(purify(phone.phoneNumber))">
                        <button class="btn btn-default btn-sm">拨打</button>
                    </a>
                </div>
            </div>

        </div>

        <div class="hints-section">
            <h3>
                <i class="ico ringbell"></i>
                <label>温馨提示</label>
            </h3>
            <div>
                {{ busline.paymethod }}

            </div>


        </div>
    </div>

    <footer class="footer">
        <label>客运巴巴,版权所有</label>
        <!--<a href="tel:0755-8739319" class="contactphone">0755-8739319</a>-->
    </footer>

</div>


<div class="popup" ng-show="finishBook">
    <div class="close" ng-click="closeit()">

    </div>

    <div class="buttons">
        <button class="btn btn-primary" ng-click="closeit();shareit()">任性分享</button>
        <button class="btn btn-blue" ui-sref="feedback()" ng-click="closeit()">我要吐槽</button>
    </div>

</div>
