.line-details .line-headers,
.line-details .line-content {
  background-color: #FFFFFF;
}
.line-details .line-headers {
  padding: 1.1rem 0 0.6rem 0;
  margin-bottom: 0.2rem;
}
.line-details figure.line-content {
  height: 14rem;
}
.line-details .phones-section {
  margin-top: 1rem;
  padding: 0 1rem;
}
.line-details .phones-section .phone {
  background: #FFFFFF;
  margin: 0.4rem -1rem;
  height: 5rem;
  line-height: 5rem;
}
.line-details .phones-section .phone .inner-phone {
  margin: 0 1rem;
  position: relative;
}
.line-details .phones-section .phone .inner-phone button {
  position: absolute;
  right: 0;
  top: 1rem;
}
.line-details .hints-section {
  margin: 1rem 0;
  padding: 0 1rem 1rem 1rem;
}
.line-details .hints-section div {
  font-size: 1.4rem;
  color: #e86161;
}
footer.footer {
  background: #FFFFFF;
  text-align: center;
  padding: 1rem ;
}
footer.footer .contactphone {
  font-size: 1.6rem;
  color: #67a1d7;
  text-decoration: none;
  vertical-align: middle;
}
.popup {
  width: 24rem;
  height: 28rem;
  background: url(/assets/images/buyed.png) no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -12rem;
  margin-left: -12rem;
  text-align: center;
}
.popup .buttons {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}
.popup .buttons button {
  bottom: 1rem;
}
.popup .close {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.8rem;
  height: 1.8rem;
  background: url(/assets/images/close.png) no-repeat center;
  background-size: 100%;
}
