.search-result {
  background-color: #FFFFFF;
  color: #666666;
  padding: 1.1rem 0 0;
  margin: 1rem 0;
}
figure.line-content {
  margin: 0;
  height: 12rem;
}
hr.splitter {
  border-top: 0.1rem solid #CFCFCF;
  border-bottom: none;
}
.line-header {
  margin: 0.4rem 1rem  0 1rem;
  position: relative;
}
.line-header h3.price {
  position: absolute;
  right: 0;
  top: 0;
  width: 12rem;
  text-align: right;
  margin: 0;
  color: #f39624;
}
.line-model {
  padding: 0 1rem;
  color: #656565;
  overflow-x: auto;
  overflow-y: hidden;
  height: 12rem;
  margin-top: 0;
}
.line-model .line_name {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin-top: 1.5rem;
  display: inline-block;
  position: relative;
}
.line-model .line_name ul {
  height: 8.4rem;
  border-top: solid .2rem #c4c4c4;
  /*max-width: 2.1rem;*/
}
.line-model .line_name .start {
  position: absolute;
  top: 0;
  left: 0;
}
.line-model .line_name .start li .ico {
  background: url(/assets/images/icon_blue.png) no-repeat center;
  background-size: 100%;
}
.line-model .line_name .start li:first-child .ico {
  background: url(/assets/images/iconStart.png) no-repeat center;
  background-size: 100%;
}
.line-model .line_name .end {
  position: absolute;
  top: 0;
  right: 0;
}
.line-model .line_name .end li .ico {
  background: url(/assets/images/icon_red.png) no-repeat center;
  background-size: 100%;
}
.line-model .line_name .end li:last-child .ico {
  background: url(/assets/images/iconEnd.png) no-repeat center;
  background-size: 100%;
}
.line-model .line_name .start li:first-child .ico,
.line-model .line_name .end li:last-child .ico {
  width: 1.8rem;
  margin-left: -0.9rem;
  height: 1.8rem;
  top: -1.1rem;
}
.line-model .line_name li {
  display: table-cell;
  /*border-top: solid .04rem #c4c4c4;*/
  padding: 1rem 0 0 ;
  position: relative;
  font-size: 1.3rem;
  line-height: 1.18;
  vertical-align: top;
  letter-spacing: .15rem;
  word-break: break-word;
  width: 3.5rem;
  text-align: center;
}
.line-model .line_name li .ico {
  width: 1rem;
  margin: 0 auto;
  height: 1rem;
  display: block;
  background: url(/assets/images/icon_blue.png) no-repeat center;
  background-size: 100%;
  position: absolute;
  top: -0.7rem;
  left: 50%;
  margin-left: -0.5rem;
  z-index: 888;
}
.line-model .line_name li span {
  display: inline-block;
  width: 1.3rem;
  vertical-align: top;
  max-width: 2.9rem;
  /*max-height: 1.4rem;*/
  overflow: hidden;
  text-align: center;
}
.line-model .line_name li span .more_txt {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  display: inline-block;
  position: relative;
  left: 50%;
  margin-left: -0.5rem;
}
.white_bg,
.white_bg_right {
  position: absolute;
  top: -1rem;
  width: 0.99999rem;
  height: 1.5rem;
  background: #fff;
  z-index: 99;
  left: 0;
}
.white_bg_right {
  width: 1.5rem;
  right: 0;
  left: auto;
}
.solid {
  width: 84%;
  margin: 0 auto;
  border-top: solid .2rem #c4c4c4;
}
.dotted {
  border-top: dotted .2rem #c4c4c4;
}
.line-footer {
  padding-bottom: 1.3rem;
  margin-left: 1rem;
  position: relative;
}
.line-footer .other-info {
  font-size: 1.4rem;
}
.line-footer button {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.search-no-result {
  padding: 1.1rem 0;
}
.search-no-result .line-header {
  margin: 0rem 1rem 0 1rem;
}
.search-no-result .no-result {
  margin: 4rem auto ;
  text-align: center;
}
.search-no-result .no-result .ufo {
  width: 16rem;
  height: 20rem;
  margin: auto ;
  background: url(/assets/images/ufo.jpg) no-repeat center;
  background-size: 16rem 20rem;
}
.search-no-result .no-result label {
  display: block;
  font-size: 2.4rem;
}
.search-no-result .no-result .no-result-action {
  margin: 1rem 0;
}
.search-no-result .no-result .no-result-action button {
  margin: 0 2rem;
}
