<div class="container">
    <div class="search-results">

        <div class="search-result" ng-repeat="busline in buslines">
            <div class="line-header">
                <div class="basicinfo">

                        <span class="busline-title">

                            <i class="ico text-start"></i>
                            <label>{{ busline.startCity.name }}</label>
                            --
                            <i class="ico text-end"></i>
                            <label>{{ busline.endCity.name }}</label>

                        </span>
                    <h3 class="price">票价：￥{{ busline.price }}</h3>

                </div>


            </div>
            <figure class="line-content">
                <div class="line-model">
                    <div class="line_name">
                        <div class="white_bg"></div>
                        <ul class="start">

                            <li ng-repeat="station in busline.stations | filter :  { cityId: busline.startCityId } track by station.id  ">
                                <i class="ico"></i>
                                <span ng-if="station.name.length <= 5">
                                    {{ station.name }}
                                </span>

                                <span ng-if="station.name.length > 5">
                                    {{ station.name.substr(0, 5) }}
                                </span>
                                <span class="pl6" ng-if="station.name.length > 5">
                                    {{ station.name.substr(5) }}
                                </span>
                            </li>



                        </ul>

                        <div class="solid" ms-class="dotted:(busline.stations.length > 6)"></div>
                        <ul class="end">
                            <li ng-repeat="station in busline.stations | filter :  { cityId: busline.endCityId } track by station.id  ">
                                <i class="ico"></i>
                                <span ng-if="station.name.length <= 5">
                                    {{ station.name }}
                                </span>

                                <span ng-if="station.name.length > 5">
                                    {{ station.name.substr(0, 5) }}
                                </span>
                                <span class="pl6" ng-if="station.name.length > 5">
                                    {{ station.name.substr(5) }}
                                </span>
                            </li>

                        </ul>
                        <div class="white_bg_right"></div>
                    </div>

                </div>
            </figure>

            <div class="line-footer">
                <span class="other-info">
                    首班: {{busline.StartTime[0].time | limitTo: 5: 0}}
                    末班: {{busline.StartTime[busline.StartTime.length-1].time| limitTo: 5: 0}}
                    共{{busline.StartTime.length}}趟班次
                </span>
                <button class="btn btn-default btn-sm " ng-click="viewDetailBusline(busline.id)">立即购票</button>
            </div>


        </div>

        <div class="search-no-result search-result" ng-if="buslines.length == 0">
            <div class="line-header">
                <div class="basicinfo">

                        <span class="busline-title">

                            <i class="ico text-start"></i>
                            <label>{{ cities[startCityId].name }}</label>
                            --
                            <i class="ico text-end"></i>
                            <label>{{ cities[endCityId].name }}</label>

                        </span>

                </div>

            </div>


            <div class="no-result">
                <div class="ufo">

                </div>
                <label>
                    没找到大巴？!
                </label>

                <div class=" no-result-action">
                    <button class="btn btn-blue" ng-click="research()">重新搜索</button>
                    <button class="btn btn-primary" ng-click="requestNewLine()">私人订制</button>
                </div>
            </div>

        </div>

    </div>
</div>

<script>


</script>
